@model CQRS2012.Gui.Models.UserModel
@{
    ViewBag.Title = "Reset password";
}
<h2>
    Reset password</h2>
<h3>
    Are you sure you want to reset password to <italic>@ViewBag.DefaultPassword</italic> for user <strong>@Html.DisplayFor(model => model.UserName)</strong>
    ?</h3>
@using (Html.BeginForm())
{
    <p>                 
        <input type="submit" value="Reset password" />
    </p>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
}
