@{
    ViewBag.Title = "Index";
}

<h2>Regulamin</h2>
<div style="margin:0 auto; width: 800px;color: #4D613C;">
<h3>Punktacja:</h3>
<ul>
<li>3 punkty - dokładnie trafiony wynik </li>
<li>2 punkty - trafiona różnica bramek np. obstawienie 3:2 przy wyniku 2:1 lub 0:0 przy wyniku 1:1</li>
<li>1 punkt - trafiony zwycięzca przy wyniku z inną różnicą bramek niż obstawiona np. obstawienie 2:1 przy wyniku 3:1 albo 4:0</li>
<li>W fazie pucharowej (ćwierćfinały, półfinały i finał) punkty liczone są podwójnie (odpowiednio 6, 4 i 2 punkty)</li>
</ul>

<p>
W przypadku dogrywki uwzględniany jest wynik na koniec dogrywki. Karne nie są brane pod uwagę.
</p>

<p>
W przypadku takiej samej ilości punktów o kolejności w tabeli decyduje większa liczba dokładnie trafionych wyników, a następnie większa liczba 
trafionych różnic bramek. Przy ustalaniu kolejności w tabeli w przypadku remisu dokładne trafienie wyników w fazie pucharowej nie ma większej wagi,
niż w fazie grupowej. 
</p>

<p>
Wpisowe wynosi 20 julianów. Całe wpisowe jest przeznaczone na nagrody.
</p>

Nagrodami jest dowolny alkohol, wybrany dla siebie przez zwycięzców, kupiony za równowartość kwoty przeznaczonej na nagrodę za dane miejsce.
<ul>
<li>1. miejsce - 45% puli</li>
<li>2. miejsce - 30% puli</li>
<li>3. miejsce - 20% puli</li>
<li>Ostatnie miejsce - 5% puli</li>
</ul>


<p>
W przypadku remisu suma nagród z wygrywających miejsc remisowych jest dzielona po równo między remisujących.<br />
Przykład:<br />
Remis na 1. miejscu:<br />
1. miejsce - 75/2% czyli 37,5% puli<br />
1. miejsce - 75/2% czyli 37,5% puli<br />
3. miejsce - 20% puli<br />
</p>

<p>
Aby otrzymać nagrodę dla najgorszego (za ostatnie miejsce) należy obstawić co najmniej 80% meczów (25 z 31) w tym wszystkie 7 w fazie pucharowej. 
W przypadku nagród za trzy pierwsze miejsca ta zasada nie obowiązuje.
</p>

<p>
W przypadku gdyby coś było niejasne - pytać :)
</p>
</div>
